<form name="new-player" action="begin" method="post"
        <h2> What's your name? </h2>
        <input type="text" name="player" placeholder="player name" autofocus>
                <button>Submit!</button>
</form>