<!doctype html>
<html>
<head>
    <link href="<%= url('css/style.css') %>" rel="stylesheet" type="text/css" />
  <title>BattleShips Online</title>
  
</head>
<body>
  <h1>Battleships</h1>
  <%= yield %>

</body>
</html>
