<meta http-equiv="refresh" content="2">

<h2>

    <% if !@result %>
    <% elsif @result == "Hit!" %>
          You HIT your opponent's ship!!!
    <% else %>
          You Suck!! That was a miss....
    <% end %>
   

<h3> You took your shot, now waiting! </h3>
 