<!DOCTYPE html>
<html>
<head>
    <link href="<%= url('css/style.css') %>" rel="stylesheet" type="text/css" />
  <title>BattleShip Online</title>
  
</head>
<body>
  <h1><img class="ri" src="/images/battleshiplogo.png"></h1>
  <%= yield %>

</body>
</html>
