<meta http-equiv="refresh" content="2">

<h2>

    <% if @result == "start"%>
          Almost ready.....Opponent is placing their shot.
    <% elsif @result == :Hit! %>
          You HIT your opponent's ship!!!
    <% elsif @result == :Sunk! %>
          You Sunk <%= @ship %> !!!!!!
    <% else %>
          You Suck!! That was a miss....
    <% end %>
   

<h3> Waiting to shoot! </h3>
 